{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "printWidth": 120,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all"
}
